*{
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html{
  font-size: 62.5%;
}
.App{
padding: 30px;
}
.card{
  width: 80rem;
  height: 23rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35vh;
  margin-bottom: auto;
  padding: 1rem;
  display: flex;
  background-color: white;
  box-shadow: 10px 7px 9px 0px rgba(36,36,36,0.76);
-webkit-box-shadow: 10px 7px 9px 0px rgba(36,36,36,0.76);
-moz-box-shadow: 10px 7px 9px 0px rgba(36,36,36,0.76);
}
.card p{
  font-size: 2rem;
}
.card span{
  font-size: 20px;
}
.card i{
  font-size: 9rem;
}
.card div{
  width: 5rem;
  height: 5rem;
  background-color: aquamarine;
  border-radius: 50%;
  display: flex;
  align-self: flex-end;
  
  justify-content: center;
  align-items: center;
}
.card article{
  display: flex;
  flex-direction: column;
  text-align: end;
  min-width: 70rem;
}
.card img{
  width: 4rem;
  height: 4rem;
  align-self: center;
}